body{
    background; color: darkorange;
}
h1{
    text-align: center;color: black;
}
p{
    text-align: center;color: aqua;
}
.Loja material de construção tijolo laranja - Story do Instagram redes sociais{
    width:40;
    margin-left:50;
    border: radius 10px; color::black;
    position:absolute;
}
